/* vim: set foldmethod=marker : */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
ul {
  list-style-type: none;
}
ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
img {
  border: 0;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}

/* ------------------------ */

#game_container {
  position: relative;
  margin: 0 auto 0 auto;
  width: 750px;
  height: 600px;
}


/*
.mix_button {
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}
.mix_button_active {
  background-color: #FF9933;
  color: #FFF;
}
.mix_button_inactive {
  background-color: #AAA;
  color: #333;
}

a.page_link {
  margin-left: 10px;
  color: #FFF;
}
a.page_link:hover {
  color: #FF9933;
}
a.page_link_current {
  color: #FF9933;
}
*/
